<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="3.0.6" targetFramework="net35" />
  <package id="DockPanelSuite.ThemeVS2015" version="3.0.6" targetFramework="net35" />
  <package id="HslCommunication" version="9.6.0" targetFramework="net451" />
  <package id="HslControls" version="2.4.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net451" />
</packages>